/*
  Flexible Box
  For Parent
  - display: flex => To Start Flexible Box
  - flex-direction: row => Default Value
  - flex-wrap: nowrap => Default Value
  - flex-flow: [Flex-Direction] + [Flex-Wrap]
*/


.flex-start {
  display: flex;
  height: 200px;
  align-items: flex-start;
  background-color: DodgerBlue;
}
.flex-start > div {
  background-color: #f1f1f1;
  width: 100px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}

.flex-end {
  display: flex;
  height: 200px;
  align-items: flex-end;
  background-color: DodgerBlue;
}
.flex-end > div {
  background-color: #f1f1f1;
  width: 100px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}


.flex-left {
  display: flex;
  flex-direction: column;
  height: 200px;
  align-items: flex-start;
  background-color: DodgerBlue;
}
.flex-left > div {
  background-color: #f1f1f1;
  width: 100px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}

.flex-right {
  display: flex;
  flex-direction: column;
  height: 200px;
  align-items: flex-end;
  background-color: DodgerBlue;
}
.flex-right > div {
  background-color: #f1f1f1;
  width: 100px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}

